HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

## backend ##
src/main/java/com/web/commitment/config/S3Config.java
WebContent/
src/main/resources/keystore.p12
src/main/resources/serviceAccountKey.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
aws.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
mail.properties

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## my ignore ##
### my ignore ###
src/main/resources/aws.yml

node_modules
/dist


# local env files
.env.local
.env.*.local
mail.properties

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## backend ##
src/main/java/com/web/commitment/config/S3Config.java
S3config.java